*{
  margin:0;
  padding: 0;
  box-sizing:border-box;
}
body{
  width:100%;
  height:100%;
  margin-top: 5vw;
  background: #62374e;
  display:grid;
  grid-template-columns: 1fr 1fr;
  column-gap:2vw;
  row-gap: 18vw;
  place-items:center;
}
div{
  display:grid;
  width: 7vw;
  height: 7vw;
  background: #fdc57b;
  
}